@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string str="test";
}

<div class="box">
    <div class="container">

        @if (Session["UserName"] != null)
        {
            str = Session["UserName"].ToString();
        }
        
        <fieldset>
        <legend> User DashBoard </legend>
        <text>Welcome @str </text>
        </fieldset>

        @*1st Row*@
        <div class="row">
            @*Personal Summary*@
            <a href="#" data-toggle="modal" data-target="#modalSummary">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                    <div class="box-part text-center">

                        <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Summary-icon.png")" />

                        <div class="title">
                            <h3>Professional Summary</h3>
                        </div>

                    </div>
                </div>
            </a>

            @*Basic Information*@
            <a href="#" data-toggle="modal" data-target="#modalBasicInfo">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                    <div class="box-part text-center">

                        <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/User-icon.png")" />

                        <div class="title">
                            <h3>Basic Information</h3>
                        </div>

                    </div>
                </div>
            </a>

            @*Educational Details*@
            <a href="#" data-toggle="modal" data-target="#modalEducationDetails" id="educationDetails">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                    <div class="box-part text-center">

                        <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Education.png")" />

                        <div class="title">
                            <h3>Educational Details</h3>
                        </div>

                    </div>
                </div>
            </a>
        </div>


        @*2nd Row*@
        <div class="row">

            @*Skills*@
            <a href="#" data-toggle="modal" data-target="#modalSkills">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                    <div class="box-part text-center">

                        <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Skill.png")" />

                        <div class="title">
                            <h3>Technical Skills</h3>
                        </div>

                    </div>
                </div>
            </a>


            @*Projects*@
            <a href="#" data-toggle="modal" data-target="#modalProject">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                    <div class="box-part text-center">

                        <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Project.png")" />

                        <div class="title">
                            <h3>Projects</h3>
                        </div>

                    </div>
                </div>
            </a>


            @*Work Experience*@
            <a href="#" data-toggle="modal" data-target="#modalWorkExperience">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                    <div class="box-part text-center">

                        <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Work Experience.png")" />

                        <div class="title">
                            <h3>Work Experience</h3>
                        </div>

                    </div>
                </div>
            </a>
        </div>
    </div>

</div>


@*Basic Information Form*@
<div id="modalBasicInfo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">ADD BASIC INFO</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>

                            <div class="form-group">
                                <label>First Name:</label>
                                <input type="text" class="form-control" name="txtFirstName">
                            </div>
                            <div class="form-group">
                                <label>Middle Name:</label>
                                <input type="text" class="form-control" name="txtMiddleName">
                            </div>
                            <div class="form-group">
                                <label>Last Name:</label>
                                <input type="text" class="form-control" name="txtLastName">
                            </div>
                            <div class="form-group">
                                <label>Email ID:</label>
                                <input type="email" class="form-control" name="txtEmailId">
                            </div>
                            <div class="form-group">
                                <label>Gender</label>
                                <label class="radio-inline">
                                    <input type="radio" name="" checked value="Male">Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" value="Female">Female
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <input type="date" class="form-control" name="dateDOB">
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" name="txtPhoneNumber">
                            </div>
                            <div class="form-group">
                                <label>Alternate Phone Number</label>
                                <input type="text" class="form-control" name="txtAltPhoneNumber">
                            </div>
                            <div class="form-group">
                                <label>Address </label>
                                <textarea name="txtAddress" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" name="txtCity">
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <select class="form-control">
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <select class="form-control">
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>ZipCode</label>
                                <input type="text" class="form-control" name="txtPin">
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default pull-right">Save </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@*Summary Form*@
<div id="modalSummary" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD PROFESSIONAL SUMMARY</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>

                            <div class="form-group">
                                <label>Summary:</label>
                                <textarea class="form-control"></textarea>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default pull-right">Save </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*Education Details Form*@
<div id="modalEducationDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD EDUCATIONAL DETAILS</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="courseOption" value="10th">10th
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="courseOption" value="12th">12th
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="courseOption" value="Graduation">Graduation
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="courseOption" value="Post-Graduation">Post-Graduation
                            </label>

                            <div class="tenth-form" style="display:none;">
                                <div class="form-group">
                                    <label>Year Of Passing:</label>
                                    <input type="text" class="form-control" name="">
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="">CGPA Scored
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="marksOption">Percentage Scored
                                    </label>
                                </div>
                                <div>
                                    <label>Marks Scored:</label>
                                    <input type="text" class="form-control" name="marksOption" placeholder="Enter CGPA">
                                </div>
                            </div>

                            <div class="all-other" style="display:none;">
                                <div class="form-group">
                                    <label>Stream:</label>
                                    <input type="text" class="form-control" name="">
                                </div>

                                <div class="form-group">
                                    <label>Year Of Passing:</label>
                                    <input type="text" class="form-control" name="">
                                </div>

                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="marksOption" checked>CGPA Scored
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="marksOption">Percentage Scored
                                    </label>
                                </div>
                                <div>
                                    <label>Marks Scored:</label>
                                    <input type="text" class="form-control" name="" placeholder="Enter CGPA">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default pull-right">Save </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@*Work Experience*@
<div id="modalWorkExperience" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD WORK EXPERIENCE</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group">
                                <label>Company Name:</label>
                                <input type="text" class="form-control" name="">
                            </div>
                            <div class="form-group">
                                <label>Designation</label>
                                <input type="text" class="form-control" name="">
                            </div>
                            <div class="form-group">
                                <label>Duration</label>

                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Month:</label>
                                    <select class="form-control">
                                        <option class="form-control">Select Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label>Start Year:</label>
                                    <select class="form-control">
                                        <option class="form-control">Select Year</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6 end-duration">
                                <div class="form-group">
                                    <label>End Month:</label>
                                    <select class="form-control">
                                        <option class="form-control">Select Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 end-duration">

                                <div class="form-group">
                                    <label>End Year:</label>
                                    <select class="form-control">
                                        <option class="form-control">Select Year</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" class="checkbox-inline" name="workingCheck" id="workingCheck">
                                <label for="workingCheck">Currently Working</label>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default pull-right">Save </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*Project*@
<div id="modalProject" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD PROJECT</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group">
                                <label>Title:</label>
                                <input type="text" class="form-control" name="">
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <input type="text" class="form-control" name="">
                            </div>
                            <div class="form-group">
                                <label>Duration(In Months)</label>
                                <input type="text" class="form-control" name="">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control"></textarea>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default pull-right">Save </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*Skills*@
<div id="modalSkills" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD TECHNICAL SKILLS</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>

                            <div class="form-group">
                                <label>Select Skill:</label>
                                <select class="form-control">
                                    <option class="form-control">Select Skill</option>
                                </select>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default pull-right">Save </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>