@model ResumeBuilder.Models.User
@{
    ViewBag.Title = "Form";
    List<ResumeBuilder.Models.Languages> languages = ViewBag.Languages;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string str = "test";
    List<ResumeBuilder.Models.Course> courses =  ViewBag.Courses;
}
@section Styles{
    <style>
        .color-added-for-text {
            color:black;
        }
    </style>   
}

@*<div id="menuContainer">
    Container
</div>

<div id="search">
    Container
</div>*@
<div id="divPreview">

</div>
<div id="mainDivModal">
    <div class="box">
        <div class="container">

            @if (Session["UserName"] != null)
            {
                str = Session["UserName"].ToString();
            }

            <fieldset>
                <h3 id="welcomeUser">Welcome @str </h3>
            </fieldset>

            @if (Model.Role == "Admin")
            {
                <script>
                    document.getElementById("btnSearchNav").style.display = "block";
                </script>
            }

            @*1st Row*@
            <div class="row">
                @*Personal Summary*@
                <a href="#" data-toggle="modal" data-target="#modalSummary" id="summary">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                        <div class="box-part text-center">

                            <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Summary-icon.png")" />

                            <div class="title">
                                <h3>Professional Summary</h3>
                            </div>

                        </div>
                    </div>
                </a>

                @*Basic Information*@
                <a href="#" data-toggle="modal" data-target="#modalBasicInfo">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                        <div class="box-part text-center">

                            <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/User-icon.png")" />

                            <div class="title">
                                <h3>Basic Information</h3>
                            </div>

                        </div>
                    </div>
                </a>

                @*Educational Details*@
                <a href="#" data-toggle="modal" data-target="#modalEducationDetails" id="educationDetails">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                        <div class="box-part text-center">

                            <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Education.png")" />

                            <div class="title">
                                <h3>Educational Details</h3>
                            </div>

                        </div>
                    </div>
                </a>
            </div>


            @*2nd Row*@
            <div class="row">

                @*Skills*@
                <a href="#" data-toggle="modal" data-target="#modalSkills">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                        <div class="box-part text-center">

                            <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Skill.png")" />

                            <div class="title">
                                <h3>Technical Skills</h3>
                            </div>

                        </div>
                    </div>
                </a>


                @*Projects*@
                <a href="#" data-toggle="modal" data-target="#modalProject">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                        <div class="box-part text-center">

                            <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Project.png")" />

                            <div class="title">
                                <h3>Projects</h3>
                            </div>

                        </div>
                    </div>
                </a>


                @*Work Experience*@
                <a href="#" data-toggle="modal" data-target="#modalWorkExperience">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 basic-info div-design">

                        <div class="box-part text-center">

                            <img id="userIcon" alt="BasicInformation" class="image-position" src="@Url.Content("~/Content/Images/Work Experience.png")" />

                            <div class="title">
                                <h3>Work Experience</h3>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div id="close-modal">
        @*Basic Information Form*@
        <div id="modalBasicInfo" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">ADD BASIC INFO</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div>
                                        <input type="hidden" name="UserID" id="userId" value="@Model.UserID" />

                                    </div>
                                    <div class="form-group">
                                        <label>Full Name:</label>
                                        <input type="text" class="form-control" name="Name" id="txtFullName">
                                    </div>

                                    <div class="form-group">
                                        <label>Email ID:</label>
                                        <input type="email" class="form-control" name="Username" id="txtEmail" value="@Model.Username" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label>Gender</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="Gender" id="optradio" checked value="Male">Male
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="Gender" id="optradio" value="Female">Female
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input type="date" class="form-control" name="DateOfBirth" id="dateDOB">
                                    </div>

                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" name="PhoneNumber" id="txtPhoneNumber">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                            <button type="submit" id="btnSaveBasicInfo" class="btn btn-default pull-right">Save </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>


        @*Summary Form*@
        <div id="modalSummary" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">ADD PROFESSIONAL SUMMARY</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="/Resume/SaveBasicInfo" method="post">
                                    <div>
                                        <input type="hidden" name="UserID" id="userId" value="@Model.UserID" />

                                <div class="form-group">
                                    <label>Gender</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Gender" id="optradioMale" checked value="Male">Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Gender" id="optradioFemale" value="Female">Female
                                    </label>
                                </div>

                                    <div class="form-group">
                                        <label>Summary:</label>
                                        <textarea class="form-control" name="Summary" id="txtSummary"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-default pull-right" id="btnSaveSummary">Save </button>

                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" name="PhoneNumber" id="txtPhoneNumber">
                                </div>
                                <div class="form-group">
                                    <label>Language</label>
                                    <div class="form-group">
                                        @foreach (var c in languages)
                                        {
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="@c.LanguageID">@c.Language</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" id="btnSaveBasicInfo" class="btn btn-default pull-right">Save </button>
                                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        
    @*Summary Form*@
    <div id="modalSummary" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ADD PROFESSIONAL SUMMARY</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/Resume/SaveBasicInfo" method="post">
                                <div><input type="hidden" name="UserID" id="userId" value="@Model.UserID" /></div>

                                <div class="form-group">
                                    <label>Summary:</label>
                                    <textarea class="form-control" name="Summary" id="txtSummary"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-default pull-right" id="btnSaveSummary">Save </button>
                                     </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    @*Education Details Form*@
    <div id="modalEducationDetails" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ADD EDUCATIONAL DETAILS</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/ResumeContoller/Form" method="get">
                                <div><input type="hidden" name="UserID" id="userId" value="@Model.UserID" /></div>
                                @foreach (var course in courses)
                                {
                                    <label class="radio-inline">
                                        <input type="radio" name="courseOption" value="@course.CourseId" >@course.CourseName
                                    </label>
                                }

                                <div class="all-other" style="display:none;">
                                    <div class="form-group stream">
                                        <label>Stream:</label>
                                        <input type="text" class="form-control" name="stream" id="stream" placeholder="Enter stream">
                                    </div>
                                    <div class="form-group">
                                        <label>Board or University:</label>
                                        <select id="boardType" class="form-control">
                                            <option>select board</option>
                                            <option value="CBSE">CBSE</option>
                                            <option value="CBSE">ICSE</option>
                                            <option value="State Board">State Board</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Year Of Passing:</label>
                                        <input type="text" class="form-control" name="yearOfPassing" id="yearOfPassing" placeholder="Enter year of passing">
                                    </div>

                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="marksOption" value="CGPA" checked>CGPA Scored
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="marksOption" value="Percentage">Percentage Scored
                                        </label>
                                    </div>
                                    <div>
                                        <label>Marks Scored:</label>
                                        <input type="text" class="form-control marks" id="txtMarks" name="marksOption" placeholder="Enter CGPA">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-default pull-right" id="btnSaveEducationalDetails">Save </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    @*Work Experience*@
    <div id="modalWorkExperience" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD WORK EXPERIENCE</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <input type="hidden" name="UserID" value="@Model.UserID" />

                            <div class="form-group">
                                <label>Company Name:</label>
                                <input type="text" class="form-control" name="OrganizationName" id="txtCompanyName">
                            </div>
                            <div class="form-group">
                                <label>Designation</label>
                                <input type="text" class="form-control" name="Role" id="txtRole">
                            </div>
                            <div class="form-group">
                                <label>Duration</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Month:</label>
                                    <select class="form-control" name="StartMonth" id="selectStartMonth">
                                        <option class="form-control">Select Month</option>
                                        <option class="form-control" value="1">1</option>
                                        <option class="form-control" value="2">2</option>
                                        <option class="form-control" value="3">3</option>
                                        <option class="form-control" value="4">4</option>
                                        <option class="form-control" value="5">5</option>
                                        <option class="form-control" value="6">6</option>
                                        <option class="form-control" value="7">7</option>
                                        <option class="form-control" value="8">8</option>
                                        <option class="form-control" value="9">9</option>
                                        <option class="form-control" value="10">10</option>
                                        <option class="form-control" value="11">11</option>
                                        <option class="form-control" value="12">12</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Year:</label>
                                    <select class="form-control" name="StartYear" id="selectStartYear">
                                        <option class="form-control">Select Year</option>
                                        <option class="form-control" value="2015">2015</option>
                                        <option class="form-control" value="2016">2016</option>
                                        <option class="form-control" value="2017">2017</option>
                                        <option class="form-control" value="2018">2018</option>
                                        <option class="form-control" value="2019">2019</option>
                                        <option class="form-control" value="2020">2020</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="hide-if-currently-working">
                                <div class="col-lg-6 end-duration">
                                    <div class="form-group">
                                        <label>End Month:</label>
                                        <select class="form-control" name="EndMonth" id="selectEndMonth">
                                            <option class="form-control">Select Month</option>
                                            <option class="form-control" value="1">1</option>
                                            <option class="form-control" value="2">2</option>
                                            <option class="form-control" value="3">3</option>
                                            <option class="form-control" value="4">4</option>
                                            <option class="form-control" value="5">5</option>
                                            <option class="form-control" value="6">6</option>
                                            <option class="form-control" value="7">7</option>
                                            <option class="form-control" value="8">8</option>
                                            <option class="form-control" value="9">9</option>
                                            <option class="form-control" value="10">10</option>
                                            <option class="form-control" value="11">11</option>
                                            <option class="form-control" value="12">12</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 end-duration">
                                     <div class="form-group">
                                        <label>End Year:</label>
                                        <select class="form-control" name="EndYear" id="selectEndYear">
                                            <option class="form-control">Select Year</option>
                                            <option class="form-control" value="2015">2015</option>
                                            <option class="form-control" value="2016">2016</option>
                                            <option class="form-control" value="2017">2017</option>
                                            <option class="form-control" value="2018">2018</option>
                                            <option class="form-control" value="2019">2019</option>
                                            <option class="form-control" value="2020">2020</option>

                                        </select>
                                    </div>
                                </div>
                           </div>
                            <div class="form-group">
                                <input type="checkbox" class="checkbox-inline" name="CurrentlyWorking" id="checkWorking">
                                <label for="checkWorking">Currently Working</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-default pull-right" id="btnSaveWorkExperience">Save </button>
                                </div>
                            </div>
                        </form>
                      </div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
                  
        @*Project*@
        <div id="modalProject" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">ADD PROJECT</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form>
                                    <input type="hidden" name="UserID" value="@Model.UserID" />

                                    <div class="form-group">
                                        <label>Project Title:</label>
                                        <input type="text" class="form-control" name="Title" id="txtTitle">
                                    </div>
                                    <div class="form-group">
                                        <label>Role</label>
                                        <input type="text" class="form-control" name="Role" id="txtProjectRole">
                                    </div>
                                    <div class="form-group">
                                        <label>Duration(In Months)</label>
                                        <input type="text" class="form-control" name="Duration" id="txtDuration">
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" name="Description" id="txtDescription"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                            <button type="button" id="btnSaveProjectDetials" class="btn btn-default pull-right">Save </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    @*Skills*@
    <div id="modalSkills" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ADD TECHNICAL SKILLS</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                           
                            <form id="autoComplete">
                                <input type="hidden" name="UserID" value="@Model.UserID" />
                                <div class="input-group">
                                    <input type="text" class="form-control" name="SearchTerm" id="txtSearch" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-info" type="button" id="addSkill">
                                            <i class="glyphicon glyphicon-plus">Add</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div>
                                    <ul id="skillMenu" style="color:black">
                                        
                                    </ul>
                                </div>
                                <div class="row skill-button">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnSaveSkills" class="btn btn-default pull-right">Save </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                  </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
 </div>
</div>

@{
    int ids;
    var res = Int32.TryParse(Session["UserID"] as String, out ids);
}
<span style="display:none;" data-sessionid="@ids" id="sessionIdFetch"></span>

@section scripts{
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />

    <script src="~/Scripts/ModelScripts/FormScript.js"></script>


    <script src="~/Scripts/ModelScripts/PreviewScript.js"></script>
    <script>

        $(document).ready(function () {
            //empty auto fill data
            $("body").on('click', 'hidden.bs.modal', function () {
                //$('input:not(:radio),textarea').val('');
            });

            $("body").on('change', 'input[type=radio][name=marksOption]', function () {
                if ($(this).val() == 'CGPA') {
                    $('.marks').attr('placeholder', 'Enter CGPA');
                } else {
                    $('.marks').attr('placeholder', 'Enter percentage ');
                }
            });
            

            $('#checkWorking').click(function () {
                if ($(this).is(':checked')) {
                    $(".hide-if-currently-working").hide();
                } else {
                    $(".hide-if-currently-working").show();
                }
            });

            $('input[type=radio][name=courseOption]').change(function () {
                if ($(this).val() == '1') {
                    $(".all-other").show();
                    $(".stream").hide();
                }
                else {
                    $(".stream").show();
                    $(".all-other").show();
                }
            });

            //save summary info of user
            $("body").on("click", "#btnSaveSummary", function () {
                var user = {};
                user.Summary = $("#txtSummary").val();
                user.UserID = $("#userId").val();
                $.ajax({
                    type: "POST",
                    url: '/Resume/SaveSummary',
                    data: '{user: ' + JSON.stringify(user) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#modalSummary").modal("hide");
                        bootbox.alert("<b style='color:black;'>Summary details successfully saved.</b>");
                    },
                    error: function () {
                        bootbox.alert("Error!");

                    }
                });
                return false;
            });

            //save basic info of user
            $("body").on("click", "#btnSaveBasicInfo", function () {
                var user = {
                    "UserID": $("#userId").val(),
                    "Name": $("#txtFullName").val(),
                    "Gender" : $('input[name="Gender"]:checked').val(),
                    "DateOfBirth" : $("#dateDOB").val(),
                    "PhoneNumber" : $("#txtPhoneNumber").val(),
                    "LanguageIds": []
                };
                
                $('input[type="checkbox"]:checked').each(function (e, el) {
                    user.LanguageIds.push($(el).val());
                })
                $.ajax({
                    type: "POST",
                    url: '/Resume/SaveBasicInformation',
                    data: '{addUserViewModel: ' + JSON.stringify(user) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#modalBasicInfo").modal("hide");
                        bootbox.alert("<b style='color:black;'>Basic information successfully saved.</b>");
                    },
                    error: function () {
                        bootbox.alert("Error!");

                    }
                });
                return false;
            });

            //save projects info of user
            $("body").on("click", "#btnSaveProjectDetials", function () {
                var project = {};
                project.UserID = $("#userId").val();
                project.Title = $("#txtTitle").val();
                project.Role = $('#txtProjectRole').val();
                project.Duration = $("#txtDuration").val();
                project.Description = $("#txtDescription").val();

                $.ajax({
                    type: "POST",
                    url: '/Resume/SaveProjectDetails',
                    data: '{project: ' + JSON.stringify(project) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#modalProject").modal("hide");
                        bootbox.alert("<b style='color:black;'>Project details successfully saved.</b>");
                    },
                    error: function () {
                        bootbox.alert("Error!");

                    }
                });
                return false;
            });

            //save work experience info of user
            $("body").on("click", "#btnSaveWorkExperience", function () {
                var project = {};
                project.UserID = $("#userId").val();
                project.StartMonth = $("#selectStartMonth").val();
                project.EndMonth = $('#selectEndMonth').val();
                project.StartYear = $("#selectStartYear").val();
                project.EndYear = $("#selectEndYear").val();
                project.OrganizationName = $("#txtCompanyName").val();
                project.Role = $('#txtRole').val();
                if ($("#checkWorking").prop('checked') == true)
                    project.CurrentlyWorking = true;
                else
                    project.CurrentlyWorking = false;

                $.ajax({
                    type: "POST",
                    url: '/Resume/SaveWorkExperience',
                    data: '{workExperience: ' + JSON.stringify(project) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#modalWorkExperience").modal("hide");
                        bootbox.alert("<b style='color:black;'>Work experience successfully saved.</b>");

                    },
                    error: function () {
                        bootbox.alert("Error!");

                    }
                });
                return false;
            });


            //save Educational details of user
            $("body").on("click", "#btnSaveEducationalDetails", function () {
                var tenDetails = {};

                tenDetails.UserID = $("#userId").val();
                tenDetails.CourseId = $('input[name="courseOption"]:checked').val();
                tenDetails.Board = $("#boardType").val();
                tenDetails.PassingYear = $("#yearOfPassing").val();

                if ($('input[name="courseOption"]:checked').val() != '1') {
                    tenDetails.Stream = $("#stream").val();
                }
                
                tenDetails.CGPAOrPercentage = $('input[name="marksOption"]:checked').val();
                tenDetails.CGPAOrPercentageValue = $("#txtMarks").val();

                $.ajax({
                    type: "POST",
                    url: '/Resume/SaveEducationalDetails',
                    data: '{educationalDetails: ' + JSON.stringify(tenDetails) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#modalEducationDetails").modal("hide");
                        bootbox.alert("<b style='color:black;'>Educational details successfully saved.</b>");
                        //bootbox.alert("Educational Details successfully saved!");
                        //$('input:not(:radio,:hidden),textarea').val('');
                    },
                    error: function () {
                        bootbox.alert("Error!");

                    }
                });
                return false;
            });

            $("body").on("click", "#btnSaveSkills", function () {
                var skillDetails = {
                    "UserID": $("#userId").val(),
                    "SkillNames": []
                };

                $(".skillItem").each(function (index) {
                    skillDetails.SkillNames.push($(this).text());
                })      
                
                $.ajax({
                    type: "POST",
                    url: '/Resume/SaveUserSkills',
                    data: '{addUserSkillsViewModel: ' + JSON.stringify(skillDetails) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#modalSkills").modal("hide");
                        bootbox.alert("<b style='color:black;'>Skills successfully saved.</b>");
                    },
                    error: function () {
                        bootbox.alert("<b style='color:black;'>Some error occurred.</b>");
                    }
                });
                return false;
            });

            $('#txtSearch').autocomplete({
                source: '@Url.Action("GetSkill")',
                appendTo: $('#autoComplete')
            });

            $("body").on('click','#addSkill',function () {
                var item = $("#txtSearch").val();
                var isSkillFound = 0;

                $(".skillItem").each(function (index) {
                    var skillValue = $(this).text();
                    if (skillValue == item) {
                        isSkillFound = 1;
                        return false;
                    }
                    //console.log(index + ": " + $(this).text());
                });

                if(isSkillFound == 0) {
                    $("#skillMenu").append('<li class="skillItem">'+item+'</li>');
                }else{
                    alert(item + " already added.");
                }                
            });


            @*preview section by rahul*@

            $("body").on("click", "#preview", function (e) {
                var ids = $('#sessionIdFetch').data('sessionid');
                $.ajax({
                    url: "/Resume/PreviewUser/" + ids,
                    method: "GET",
                    success: function (result) {
                        console.log(result);
                    },
                    error: function () {
                        console.log("error happened!@@#$#%^*&(*");
                    }
                })
            })
        });
    </script>
}
