@model ResumeBuilder.Models.User

@{


    List<ResumeBuilder.Models.Project> projects = ViewBag.Projects;
    List<ResumeBuilder.Models.WorkExperience> workExperiences = ViewBag.WorkExperiences;
    List<ResumeBuilder.Models.EducationalDetails> educationDetails = ViewBag.Education;
    List<ResumeBuilder.Models.Languages> languages = ViewBag.Languages;

}

<div id="pageContent">
    <div id="userDetails">
        <h3>User Details</h3>

        <p>
            <span>@Model.Name</span>
            <button type="button" value="Edit" class="btn btn-info pull-right js-edit-user" data-user-id="@Model.UserID">Edit</button>
        </p>
        <p><span>@Model.Username</span></p>
        <p><span>@Model.DateOfBirth</span></p>
        <p><span>@Model.PhoneNumber</span></p>
        <p><span>@Model.Gender</span></p>
        <p><span>@Model.Summary</span></p>
        <p>
            Languages Spoken:
            @foreach (var item in @Model.Languages)
            {

                <span>@item.Language</span>
            }
        </p>
    </div>

    <hr />


    <div id="educationDetails">
        <h3>Education History</h3>
        @{var courseName = "";}
        @foreach (var e in educationDetails)
        {
            if(e.CourseId==1)
            {
                courseName="10th";
            }
            else if (e.CourseId == 2)
            {
                courseName="12th";
            }
            else if (e.CourseId == 3)
            {
                courseName="Graduation";
            }
            else
            {
                courseName="Post Graduation";
            }
                
            <p>
                
                <b>
                    Degree:@courseName
                </b>
                <button type="button" value="Edit" class="btn btn-info pull-right js-edit-education" data-education-id="@e.EducationalDetailID">Edit</button>
                <button type="button" class="btn btn-danger pull-right js-delete-education" value="Delete" data-education-id="@e.EducationalDetailID">Delete</button>
            </p>
            <div class="left-margin">
                <p>Board: @e.Board</p>
                <p>Passing Year: @e.PassingYear</p>
                <p>Stream: @e.Stream</p>
                <p>Marks: @e.TotalPercentorCGPAValue</p>
            </div>

        }

    </div>

    <hr />


    <div id="projectDetails">
        <h3>Project Details</h3>


        @foreach (var p in projects)
        {
            <div>
                <p>
                    <b>Project Title: @p.Title</b>
                    <button type="button" value="Edit" class="btn btn-info pull-right js-edit-project" data-project-id="@p.ProjectId">Edit</button>
                    <button type="button" class="btn btn-danger pull-right js-delete-project" value="Delete"  data-project-id="@p.ProjectId">Delete</button>
                </p>
                <div class="left-margin">
                    <p>Role: @p.ProjectRole</p>
                    <p>Description: @p.Description</p>
                    <p>Duration: @p.Duration</p>
                </div>
            </div>
        }
    </div>

    <hr />

    <div id="workExperienceDetails">
        <h3>Work Experience Details</h3>

        @foreach (var w in workExperiences)
        {
            <div>
                <p>
                    <b>Organisation Name: @w.OrganizationName</b>
                    <button type="button" value="Edit" class="btn btn-info pull-right js-edit-workex" data-workex-id="@w.WorkExperienceid">Edit</button>
                    <button type="button" class="btn btn-danger pull-right js-delete-workex" value="Delete" data-workex-id="@w.WorkExperienceid">Delete</button>
                </p>
                <div class="left-margin">
                    <p>Role: @w.Role</p>
                    <p>From: @w.StartMonth <span>/</span>  <span>@w.StartYear</span></p>
                    @if (@w.CurrentlyWorking)
                    {
                        <p>Currently Working</p>
                    }
                    else
                    {
                        <p>To: @w.EndMonth / @w.EndYear</p>
                    }
                </div>
            </div>
        }
    </div>
    <hr />

    <div id="skillDetails">
        <h3>Skills</h3>

        @foreach (var item in @Model.Skills)
        {
            <p>
                <span>@item.SkillName</span>
                <span><button type="button" class="btn btn-danger pull-right js-delete-skill" value="Delete" data-skill-id="@item.SkillID">Delete</button></span>

            </p>
            <br />
        }

    </div>

</div>


@*UserDetailsForm*@
<div id="modalBasicInfo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">UPDATE BASIC INFORMATION</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/Resume/SaveBasicInfo" method="post">

                            <input type="hidden" name="UserID" id="userId" value="@Model.UserID" />

                            <div class="form-group">
                                <label>Full Name:</label>
                                <input type="text" class="form-control" name="Name" id="txtFullName" value="@Model.Name">
                            </div>

                            <div class="form-group">
                                <label>Email ID:</label>
                                <input type="email" class="form-control" name="Username" id="txtEmail" value="@Model.Username">
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                                <label class="radio-inline">
                                    <input type="radio" name="Gender" id="optradioMale" value="Male">Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Gender" id="optradioFemale" value="Female">Female
                                </label>
                            </div>


                            <div class="form-group">
                                <label>Date of Birth</label>
                                <input type="date" class="form-control" name="DateOfBirth" id="dateDOB">
                            </div>

                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" name="PhoneNumber" id="txtPhoneNumber" value="@Model.PhoneNumber">
                            </div>

                            <div class="form-group">
                                <label>Summary:</label>
                                <textarea class="form-control" name="Summary" id="txtSummary">@Model.Summary</textarea>
                            </div>

                            <div class="form-check">
                                <label>Language</label>
                                <div class="checkbox">
                                    @foreach (var c in languages)
                                    {
                                        <div>
                                            <label>
                                                <input type="checkbox" value="@c.LanguageID">
                                                @c.Language
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-default pull-right js-save-user">Save </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@*Education Details Form*@
<div id="modalEducationDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD EDUCATIONAL DETAILS</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">

                            <input type="hidden" name="EducationalDetailID" />
                            <input type="hidden" name="CourseId" />

                            
                                <div class="stream">
                                    <div class="form-group stream">
                                        <label>Stream:</label>
                                        <input type="text" class="form-control" name="Stream" id="Stream">
                                    </div>
                                </div>
                                
                            <div class="all-other">
                                <div class="form-group">
                                    <label>Board or University:</label>
                                    <select id="boardType" class="form-control" name="Board">

                                        <option value="CBSE" selected>CBSE</option>
                                        <option value="CBSE">ICSE</option>
                                        <option value="State Board">State Board</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Year Of Passing:</label>
                                    <input type="text" class="form-control" name="PassingYear" id="PassingYear" placeholder="Enter year of passing">
                                </div>

                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="CGPAOrPercentage" value="CGPA" checked>CGPA Scored
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="CGPAOrPercentage" value="Percentage">Percentage Scored
                                    </label>
                                </div>
                                <div>
                                    <label>Marks Scored:</label>
                                    <input type="text" class="form-control marks" id="txtMarks" name="TotalPercentorCGPAValue" placeholder="Enter CGPA">
                                </div>
                            </div>

                            
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-default pull-right js-save-education">Save </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@*Project Form*@
<div id="modalProject" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD PROJECT</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <input type="hidden" name="ProjectId" />

                            <div class="form-group">
                                <label>Project Title:</label>
                                <input type="text" class="form-control" name="Title" id="txtTitle">
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <input type="text" class="form-control" name="ProjectRole" id="txtProjectRole">
                            </div>
                            <div class="form-group">
                                <label>Duration(In Months)</label>
                                <input type="text" class="form-control" name="Duration" id="txtDuration">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="Description" id="txtDescription"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-default pull-right js-save-project">Save </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*WorkExperience Form*@
<div id="modalWorkExperience" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD WORK EXPERIENCE</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <input type="hidden" name="WorkExperienceid" />

                            <div class="form-group">
                                <label>Company Name:</label>
                                <input type="text" class="form-control" name="OrganizationName" id="txtCompanyName">
                            </div>
                            <div class="form-group">
                                <label>Designation</label>
                                <input type="text" class="form-control" name="Role" id="txtRole">
                            </div>
                            <div class="form-group">
                                <label>Duration</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Month:</label>
                                    <select class="form-control" name="StartMonth" id="selectStartMonth">
                                        <option class="form-control" value="0">Select Month</option>
                                        
                                        <option class="form-control" value="1">1</option>
                                        <option class="form-control" value="2">2</option>
                                        <option class="form-control" value="3">3</option>
                                        <option class="form-control" value="4">4</option>
                                        <option class="form-control" value="5">5</option>
                                        <option class="form-control" value="6">6</option>
                                        <option class="form-control" value="7">7</option>
                                        <option class="form-control" value="8">8</option>
                                        <option class="form-control" value="9">9</option>
                                        <option class="form-control" value="10">10</option>
                                        <option class="form-control" value="11">11</option>
                                        <option class="form-control" value="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Year:</label>
                                    <select class="form-control" name="StartYear" id="selectStartYear">
                                        <option class="form-control" value="0">Select Year</option>
                                        <option class="form-control" value="2015">2015</option>
                                        <option class="form-control" value="2016">2016</option>
                                        <option class="form-control" value="2017">2017</option>
                                        <option class="form-control" value="2018">2018</option>
                                        <option class="form-control" value="2019">2019</option>
                                        <option class="form-control" value="2020">2020</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hide-if-currently-working">
                                <div class="col-lg-6 end-duration">
                                    <div class="form-group">
                                        <label>End Month:</label>
                                        <select class="form-control" name="EndMonth" id="selectEndMonth">
                                            <option class="form-control" value="0">Select Month</option>
                                            
                                            <option class="form-control" value="1">1</option>
                                            <option class="form-control" value="2">2</option>
                                            <option class="form-control" value="3">3</option>
                                            <option class="form-control" value="4">4</option>
                                            <option class="form-control" value="5">5</option>
                                            <option class="form-control" value="6">6</option>
                                            <option class="form-control" value="7">7</option>
                                            <option class="form-control" value="8">8</option>
                                            <option class="form-control" value="9">9</option>
                                            <option class="form-control" value="10">10</option>
                                            <option class="form-control" value="11">11</option>
                                            <option class="form-control" value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 end-duration">
                                    <div class="form-group">
                                        <label>End Year:</label>
                                        <select class="form-control" name="EndYear" id="selectEndYear">
                                            <option class="form-control" value="0">Select Year</option>
                                            <option class="form-control" value="2015">2015</option>
                                            <option class="form-control" value="2016">2016</option>
                                            <option class="form-control" value="2017">2017</option>
                                            <option class="form-control" value="2018">2018</option>
                                            <option class="form-control" value="2019">2019</option>
                                            <option class="form-control" value="2020">2020</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="checkbox-inline" name="CurrentlyWorking" id="checkWorking">
                                <label for="checkWorking">Currently Working</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-default pull-right js-save-workex">Save </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>




