@model ResumeBuilder.Models.User
@{
    ViewBag.Title = "GetAllData";
    List<ResumeBuilder.Models.Project> projects = ViewBag.Projects;
    List<ResumeBuilder.Models.WorkExperience> workExperiences = ViewBag.WorkExperiences;
}


@section Styles{
    <style>
        .left-margin{
            padding-left:10px;
        }
    </style>
    
}


<h3>User Details</h3>

@*<p>UserName:<span>@Model.Username</span></p>*@

<hr />

<h3>Project Details</h3>

@*<div class="project-details">
    
</div>*@

@foreach (var p in projects)
{
    <div>
        <p>
            <b>Project Title: @p.Title</b>
            <button type="button" value="Edit" class="btn btn-info pull-right js-edit-project" data-project-id="@p.ProjectId">Edit</button>  
            <button type="button" class="btn btn-danger pull-right js-delete-project" value="Delete" data-project-id="@p.ProjectId">Delete</button>
        </p>
        <div class="left-margin">
            <p>Role: @p.ProjectRole</p>
            <p>Description: @p.Description</p>
            <p>Duration: @p.Duration</p>
        </div>
    </div>
}

<hr />

<h3>Work Experience Details</h3>

@foreach (var w in workExperiences)
{
    <div>
        <p>
            <b>Organisation Name: @w.OrganizationName</b>
            <button type="button" value="Edit" class="btn btn-info pull-right js-edit-workex" data-workex-id="@w.WorkExperienceid">Edit</button>
            <button type="button" class="btn btn-danger pull-right js-delete-workex" value="Delete" data-workex-id="@w.WorkExperienceid">Delete</button>
        </p>
        <div class="left-margin">
            <p>Role: @w.Role</p>
            <p>From: @w.StartMonth / @w.StartYear</p>
            @if(@w.CurrentlyWorking)
            {
                <p>Currently Working</p>
            }
            else
            {
                <p>To: @w.EndMonth / @w.EndYear</p>
            }
        </div>
    </div>
}
<hr />




@*Project Form*@
<div id="modalProject" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD PROJECT</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <input type="hidden" name="ProjectId" />

                            <div class="form-group">
                                <label>Project Title:</label>
                                <input type="text" class="form-control" name="Title" id="txtTitle">
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <input type="text" class="form-control" name="Role" id="txtProjectRole">
                            </div>
                            <div class="form-group">
                                <label>Duration(In Months)</label>
                                <input type="text" class="form-control" name="Duration" id="txtDuration">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="Description" id="txtDescription"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-default pull-right js-save-project">Save </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*WorkExperience Form*@
<div id="modalWorkExperience" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD WORK EXPERIENCE</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <<input type="hidden" name="WorkExperienceid" />
                            <div class="form-group">
                                <label>Company Name:</label>
                                <input type="text" class="form-control" name="OrganizationName" id="txtCompanyName">
                            </div>
                            <div class="form-group">
                                <label>Designation</label>
                                <input type="text" class="form-control" name="Role" id="txtRole">
                            </div>
                            <div class="form-group">
                                <label>Duration</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Month:</label>
                                    <select class="form-control" name="StartMonth" id="selectStartMonth">
                                        <option class="form-control">Select Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Year:</label>
                                    <select class="form-control" name="StartYear" id="selectStartYear">
                                        <option class="form-control">Select Year</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hide-if-currently-working">
                                <div class="col-lg-6 end-duration">
                                    <div class="form-group">
                                        <label>End Month:</label>
                                        <select class="form-control" name="EndMonth" id="selectEndMonth">
                                            <option class="form-control">Select Month</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 end-duration">
                                    <div class="form-group">
                                        <label>End Year:</label>
                                        <select class="form-control" name="EndYear" id="selectEndYear">
                                            <option class="form-control">Select Year</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" class="checkbox-inline" name="CurrentlyWorking" id="checkWorking">
                                <label for="checkWorking">Currently Working</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-default pull-right js-save-workex" id="btnSaveWorkExperience">Save </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>

@section scripts{
    <script src="~ /scripts/bootbox.js"></script>

    <script>

        $('body').on('click', '.js-edit-project', function (e) {
            e.preventDefault();
            var $button = $(this);

            var projectId = $button.data("project-id");
            $.ajax({
                url: "GetProjectById/" + projectId,
                method: "GET",            
                success: function (result) {
                    console.log(result);
                    $('input[name="ProjectId"]').val(result.ProjectId);
                    $('input[name="Title"]').val(result.Title);
                    $('input[name="ProjectRole"]').val(result.ProjectRole);
                    $('input[name="Duration"]').val(result.Duration);
                    $('textarea[name="Description"]').val(result.Description);
                    $('#modalProject').find('.modal-title').html('UPDATE PROJECT DETAILS');
                    $('#modalProject').modal('show');
                },
                error: function (error) {
                    console.log(error);
                    alert("Sorry ! Unable to edit employee");
                }
            });
        });

        $('body').on('click', '.js-save-project', function (e) {
            e.preventDefault();
            var formData = {
                "ProjectId": $('input[name="ProjectId"]').val(),
                "Title": $('input[name="Title"]').val(),
                'Role': $('input[name="Role"]').val(),
                "Duration": $('input[name="Duration"]').val(),
                "Description": $('textarea[name="Description"]').val()
            };
            $.ajax({
                url: "UpdateProject",
                method: "POST",
                data: formData,
                success: function (result) {
                    console.log(result);
                    $('#modalProject').modal('hide');
                    location.reload(true);
                    //$empDataTable.ajax.reload();
                },
                error: function (error) {
                    console.log(error);
                    alert("Sorry ! Unable to delete employee");
                }
            });

        });

        $('body').on('click', '.js-delete-project', function (e) {
            e.preventDefault();
            var $button = $(this);

            var projectID = $button.data("project-id");
            bootbox.confirm("<p style='color:black;'>Are you sure to delete this Project Record?</p>", function (result) {
                if (result) {
                    $.ajax({
                        url: "DeleteProject",
                        method: "POST",
                        data: { projectID: projectID },
                        success: function (result) {
                            location.reload(true);
                        },
                        error: function (error) {
                            bootbox.alert("Error!");
                        }
                    })
                }
            });
        });

        $('body').on('click', '.js-edit-workex', function (e) {
            e.preventDefault();
            var $button = $(this);
            var workExperienceId = $button.data("workex-id");
            $.ajax({
                url: "GetWorkExperienceById/" + workExperienceId,
                method: "GET",
                success: function (result) {
                    console.log(result);
                    $('input[name="WorkExperienceid"]').val(result.WorkExperienceid);
                    $('input[name="OrganizationName"]').val(result.OrganizationName);
                    $('input[name="Role"]').val(result.Role);
                    $('input[name="StartMonth"]').val(result.StartMonth);
                    $('input[name="StartYear"]').val(result.StartYear);
                    $('input[name="EndMonth"]').val(result.EndMonth);
                    $('input[name="EndYear"]').val(result.EndYear);
                    $('#modalWorkExperience').find('.modal-title').html('UPDATE WORK EXPERIENCE DETAILS');
                    $('#modalWorkExperience').modal('show');
                },
                error: function (error) {
                    console.log(error);
                    alert("Sorry ! Unable to edit WorkEx");
                }
            });
        });

        $('body').on('click', '.js-save-workex', function (e) {
            e.preventDefault();
            var formData = {
                "WorkExperienceid" : $('input[name="WorkExperienceid"]').val(),
                "OrganizationName" : $('input[name="OrganizationName"]').val(),
                "Role" : $('input[name="Role"]').val(),
            };
            $.ajax({
                url: "UpdateWorkExperience",
                method: "POST",
                data: formData,
                success: function (result) {
                    console.log(result);
                    $('#modalWorkExperience').modal('hide');
                    location.reload(true);
                    //$empDataTable.ajax.reload();
                },
                error: function (error) {
                    console.log(error);
                    alert("Sorry ! Unable to update details");
                }
            });

        });

        $('body').on('click', '.js-delete-workex', function (e) {
            e.preventDefault();
            var $button = $(this);

            var workExId = $button.data("workex-id");
            bootbox.confirm("<p style='color:black;'>Are you sure to delete this Project Record?</p>", function (result) {
                if (result) {
                    $.ajax({
                        url: "DeleteProject",
                        method: "POST",
                        data: { workExId: workExId },
                        success: function (result) {
                            location.reload(true);
                        },
                        error: function (error) {
                            bootbox.alert("Error!");
                        }
                    })
                }
            });
        });

    </script>
}
