@model ResumeBuilder.ViewModels.AllInformationVM

@{
    List<ResumeBuilder.Models.Language> languages = ViewBag.Languages;
    List<ResumeBuilder.Models.Course> courses = ViewBag.Courses;
    List<int> alreadyDoneCourses = ViewBag.AlreadyDoneCourses;
    Layout = null;
}
@{
    string email = "N/A";
    int userId = 0;
    if (Session.Count != 0)
    {
        email = (string)Session["Username"];
        userId = (int)Session["UserID"];
    }
    List<string> languageList = new List<string>();
    foreach (var language in Model.Languages)
    {
        languageList.Add(language.LanguageName);
    }
    String languageListWithoutLastComma = String.Join(", ", languageList);
}
    
<span style="display:none;" id="checkIsAdmin" data-checkadmin="@Model.IsAdmin"></span>

@using Newtonsoft.Json;

<div id="editPage">
    <div id="userDetails">
        <h3>User Details</h3>

        <p>
            Name : <span>@Model.Name</span>
            <button type="button" value="Edit" class="btn btn-info pull-right js-edit-user"
                    data-user-id="@Model.UserID"
                    data-name="@Model.Name"
                    data-dob="@Model.DateOfBirth.Value.Date.ToShortDateString()"
                    data-phone="@Model.PhoneNumber"
                    data-gender="@Model.Gender"
                    data-summary="@Model.Summary"
                    data-languages="@(JsonConvert.SerializeObject(@Model.LanguageIds))">
                Edit
            </button>
        </p>

        <p>Date of Birth : <span>@Model.DateOfBirth.Value.ToShortDateString()</span></p>
        <p>Phone number : <span>@Model.PhoneNumber</span></p>
        <p>Gender : <span>@Model.Gender</span></p>
        <p>Summary : <span>@Model.Summary</span></p>
        <p>Languages Known : @languageListWithoutLastComma</p>
    </div>
    <hr />

    <div id="educationDetails">
        <h3>
            Education History
            <button type="button" value="Add" class="btn btn-success pull-right js-add-education">Add</button>
        </h3>

        @{var courseName = "";}
        @foreach (var e in @Model.EducationalDetail)
        {
            if (e.CourseID == 1)
            {
                courseName = "10th";
            }
            else if (e.CourseID == 2)
            {
                courseName = "12th";
            }
            else if (e.CourseID == 3)
            {
                courseName = "Under Graduation";
            }
            else
            {
                courseName = "Post Graduation";
            }

            <p>

                <b>
                    Degree:@courseName
                </b>
                <button type="button" value="Edit" class="btn btn-info pull-right js-edit-education" data-education-id="@e.EducationalDetailsID"
                        data-courseid="@e.CourseID"
                        data-board="@e.BoardOrUniversity"
                        data-passingyear="@e.PassingYear"
                        data-cgpaorpercentage="@e.CGPAOrPercentage"
                        data-stream="@e.Stream"
                        data-marks="@e.TotalPercentageOrCGPAValue">
                    Edit
                </button>
                <button type="button" class="btn btn-danger pull-right js-delete-education" value="Delete" data-courseid="@e.CourseID" data-education-id="@e.EducationalDetailsID">
                    Delete
                </button>
            </p>
            <div class="left-margin">
                <p>Board: @e.BoardOrUniversity</p>
                <p>Passing Year: @e.PassingYear</p>
                <p>Stream: @e.Stream</p>
                <p>Marks: @e.TotalPercentageOrCGPAValue</p>
            </div>

        }

    </div>
    <hr />

    <div id="projectDetails">
        <h3>
            Project Details
            <button type="button" value="Add" class="btn btn-success pull-right js-add-project">Add</button>
        </h3>

        @foreach (var p in @Model.Projects)
        {
            <div>
                <p>
                    <b>Project Title: @p.ProjectTitle</b>
                    <button type="button" value="Edit" class="btn btn-info pull-right js-edit-project" data-project-id="@p.ProjectID"
                            data-title="@p.ProjectTitle"
                            data-role="@p.ProjectRole"
                            data-duration="@p.DurationInMonth"
                            data-description="@p.Description">
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger pull-right js-delete-project" value="Delete" data-project-id="@p.ProjectID">
                        Delete
                    </button>
                </p>
                <div class="left-margin">
                    <p>Role: @p.ProjectRole</p>
                    <p>Duration: @p.DurationInMonth</p>
                    <p>Description: @p.Description</p>
                </div>
            </div>
        }
    </div>
    <hr />

    <div id="workExperienceDetails">
        <h3>
            Work Experience Details
            <button type="button" value="Add" class="btn btn-success pull-right js-add-workex">Add</button>
        </h3>


        @foreach (var w in @Model.WorkExperiences)
        {
            <div>
                <p>
                    <b>Organisation Name: @w.OrganizationName</b>
                    <button type="button" value="Edit" class="btn btn-info pull-right js-edit-workex" data-workex-id="@w.WorkExperienceID"
                            data-organization="@w.OrganizationName"
                            data-designation="@w.Designation"
                            data-start-month="@w.StartMonth"
                            data-end-month="@w.EndMonth"
                            data-start-year="@w.StartYear"
                            data-end-year="@w.EndYear"
                            data-isworking="@w.IsCurrentlyWorking">
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger pull-right js-delete-workex" value="Delete" data-workex-id="@w.WorkExperienceID">
                        Delete
                    </button>
                </p>
                <div class="left-margin">
                    <p>Role: @w.Designation</p>
                    <p>From: @w.StartMonth <span>/</span>  <span>@w.StartYear</span></p>
                    @if (@w.IsCurrentlyWorking)
                    {
                        <p>Currently Working</p>
                    }
                    else
                    {
                        <p>To: @w.EndMonth / @w.EndYear</p>
                    }
                </div>
            </div>
        }
    </div>
    <hr />

    <div id="skillDetails">
        <h3>
            Skills
            <button type="button" value="Add" class="btn btn-success pull-right js-add-skill">Add</button>
        </h3>

        @foreach (var item in @Model.Skills)
        {
            <p>
                <span>@item.SkillName</span>
                <span><button type="button" class="btn btn-danger pull-right js-delete-skill" value="Delete" data-skill-id="@item.SkillID">Delete</button></span>

            </p>
            <br />
        }

    </div>
    <hr />
</div>

@*UserDetailsForm*@
<div id="modalBasicInfo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">UPDATE BASIC INFORMATION</h2>
            </div>
            <div class="modal-body" id="userDetailsModal">
                <div class="row">
                    <div class="col-md-12">
                        <form id="basicInfoForm">

                            <input type="hidden" name="UserID" id="userId" value="@userId" />

                            <div class="form-group error-msg">
                                <label>Full Name:<span class="astreik-mark">*</span></label>
                                <input type="text" class="form-control" name="Name" id="txtFullName">
                            </div>

                            <div class="form-group error-msg">
                                <label>Email ID:<span class="astreik-mark">*</span></label>
                                <input type="text" class="form-control" name="Username" id="txtEmail" value="@email" readonly>
                            </div>

                            <div class="form-group error-msg">
                                <label>Gender<span class="astreik-mark">*</span></label>
                                <label class="radio-inline">
                                    <input type="radio" name="Gender" id="optradioMale" value="Male" checked>Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Gender" id="optradioFemale" value="Female">Female
                                </label>
                            </div>


                            <div class="form-group error-msg">
                                <label>Date of Birth<span class="astreik-mark">*</span></label>
                                @if (@Model.DateOfBirth != null)
                                {
                                   @Html.TextBoxFor(m => m.DateOfBirth, new { @type = "date", @Value = Model.DateOfBirth.Value.ToString("yyyy-MM-dd"), @Class = "form-control", @Name = "DateofBirth", @Id = "dateDOB", style = "color:black;" })
                                }

                                else
                                {
                                    <input type="date" class="form-control" name="DateOfBirth" id="dateDOB">
                                }

                            </div>

                            <div class="form-group error-msg">
                                <label>Phone Number<span class="astreik-mark">*</span></label>
                                <input type="text" class="form-control" name="PhoneNumber" id="txtPhoneNumber">
                            </div>

                            <div class="form-group error-msg">
                                <label>Summary:<span class="astreik-mark">*</span></label>
                                <textarea class="form-control" name="Summary" id="txtSummary"></textarea>
                            </div>
                            <div class="form-check error-msg">
                                <label>Languages known:<span class="astreik-mark">*</span></label>
                                <div class="checkbox">
                                    @foreach (var c in languages)
                                    {
                                        <div>
                                            <label>

                                                <input type="checkbox" name="chkLanguages" value="@c.LanguageID">@c.LanguageName
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success pull-right js-save-user">Save </button>
                                </div>
                            </div>
                        </form>
                  </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@if (alreadyDoneCourses.Contains(1))
{
    <span style="display:none;" id="addedTenthDetails" data-value="1"></span>
}

@if (alreadyDoneCourses.Contains(2))
{
    <span style="display:none;" id="addedTwelfthDetails" data-value="2"></span>
}
    @*Education Details Form*@
    <div id="modalEducationDetails" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ADD EDUCATIONAL DETAILS</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="educationDetailsForm" method="post">

                                <input type="hidden" name="EducationalDetailsID" value="" />
                                <input type="hidden" name="CourseID" />
                                @{var count = 0;
                                var courseId = "";}
                                @foreach (var course in courses)
                                {
                                    count = count + 1;
                                    courseId = "course" + count;
                                    <label class="radio-inline">
                                        <input id="@courseId" type="radio" name="courseOption" value="@course.CourseID">@course.CourseName
                                    </label>
                                }

                                <div class="stream">
                                    <div class="form-group stream">
                                        <label>Stream(or Degree name if any):<span class="astreik-mark">*</span></label>
                                        <input type="text" class="form-control" name="Stream" id="Stream" value="" placeholder="Enter your Stream or degree name.">
                                    </div>
                                </div>

                                <div class="all-other">
                                    <div class="form-group">
                                        <label>Board or University:<span class="astreik-mark">*</span></label>
                                        <select id="boardType" class="form-control" name="BoardOrUniversity">
                                            <option value="" selected>select board</option>
                                            <option value="CBSE">CBSE</option>
                                            <option value="ICSE">ICSE</option>
                                            <option value="State Board">State Board</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Year Of Passing(if pursuing enter expected year):<span class="astreik-mark">*</span></label>
                                        <input type="text" class="form-control" name="PassingYear" id="PassingYear" placeholder="Enter year of passing">
                                    </div>

                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input id="cgpa" type="radio" name="CGPAOrPercentage" value="CGPA" checked>CGPA Scored
                                        </label>
                                        <label class="radio-inline">
                                            <input id="percentage" type="radio" name="CGPAOrPercentage" value="Percentage">Percentage Scored
                                        </label>
                                    </div>
                                    <div>
                                        <label>Marks Scored:<span class="astreik-mark">*</span></label>
                                        <input type="text" class="form-control marks" id="txtMarks" name="TotalPercentageOrCGPAValue" placeholder="Enter CGPA">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success pull-right js-save-education">Save </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    @*Project Form*@
    <div id="modalProject" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ADD PROJECT</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="projectDetailsForm">
                                <input type="hidden" name="ProjectID" />

                                <div class="form-group">
                                    <label>Project Title:<span class="astreik-mark">*</span></label>
                                    <input type="text" class="form-control" name="ProjectTitle" id="txtTitle">
                                </div>
                                <div class="form-group">
                                    <label>Role:<span class="astreik-mark">*</span></label>
                                    <input type="text" class="form-control" name="ProjectRole" id="txtProjectRole">
                                </div>
                                <div class="form-group">
                                    <label>Duration(In Months):<span class="astreik-mark">*</span></label>
                                    <input type="text" class="form-control" name="DurationInMonth" id="txtDuration">
                                </div>
                                <div class="form-group">
                                    <label>Description:<span class="astreik-mark">*</span></label>
                                    <textarea class="form-control" name="Description" id="txtDescription"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                        <input type="submit" value="Save" class="btn btn-success pull-right js-save-project" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

@*WorkExperience Form*@
<div id="modalWorkExperience" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD WORK EXPERIENCE</h4>
            </div>
            <div class="modal-body" id="workExModal">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="workExperienceForm">
                            <input type="hidden" name="WorkExperienceID" />
                            <div class="form-group">
                                <label>Company Name:<span class="astreik-mark">*</span></label>
                                <input type="text" class="form-control" name="OrganizationName" id="txtCompanyName">
                            </div>
                            <div class="form-group">
                                <label>Designation:<span class="astreik-mark">*</span></label>
                                <input type="text" class="form-control" name="Designation" id="txtRole">
                            </div>
                            <div class="form-group">
                                <label>Duration:<span class="astreik-mark">*</span></label>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Month:</label>
                                    <select class="form-control" name="StartMonth" id="selectStartMonth">
                                        <option class="form-control" value="0">Select Month</option>

                                        <option class="form-control" value="1">1</option>
                                        <option class="form-control" value="2">2</option>
                                        <option class="form-control" value="3">3</option>
                                        <option class="form-control" value="4">4</option>
                                        <option class="form-control" value="5">5</option>
                                        <option class="form-control" value="6">6</option>
                                        <option class="form-control" value="7">7</option>
                                        <option class="form-control" value="8">8</option>
                                        <option class="form-control" value="9">9</option>
                                        <option class="form-control" value="10">10</option>
                                        <option class="form-control" value="11">11</option>
                                        <option class="form-control" value="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Year:</label>
                                    <select class="form-control" name="StartYear" id="selectStartYear">
                                        <option class="form-control" value="0">Select Year</option>
                                        <option class="form-control" value="2015">2015</option>
                                        <option class="form-control" value="2016">2016</option>
                                        <option class="form-control" value="2017">2017</option>
                                        <option class="form-control" value="2018">2018</option>
                                        <option class="form-control" value="2019">2019</option>
                                        <option class="form-control" value="2020">2020</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hide-if-currently-working">
                                <div class="col-lg-6 end-duration">
                                    <div class="form-group">
                                        <label>End Month:</label>
                                        <select class="form-control" name="EndMonth" id="selectEndMonth">
                                            <option class="form-control" value="0">Select Month</option>
                                            <option class="form-control" value="1">1</option>
                                            <option class="form-control" value="2">2</option>
                                            <option class="form-control" value="3">3</option>
                                            <option class="form-control" value="4">4</option>
                                            <option class="form-control" value="5">5</option>
                                            <option class="form-control" value="6">6</option>
                                            <option class="form-control" value="7">7</option>
                                            <option class="form-control" value="8">8</option>
                                            <option class="form-control" value="9">9</option>
                                            <option class="form-control" value="10">10</option>
                                            <option class="form-control" value="11">11</option>
                                            <option class="form-control" value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 end-duration">
                                    <div class="form-group">
                                        <label>End Year:</label>
                                        <select class="form-control" name="EndYear" id="selectEndYear">
                                            <option class="form-control" value="0">Select Year</option>
                                            <option class="form-control" value="2015">2015</option>
                                            <option class="form-control" value="2016">2016</option>
                                            <option class="form-control" value="2017">2017</option>
                                            <option class="form-control" value="2018">2018</option>
                                            <option class="form-control" value="2019">2019</option>
                                            <option class="form-control" value="2020">2020</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="checkbox-inline" name="IsCurrentlyWorking" id="checkWorking">
                                <label for="checkWorking">Currently Working</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success pull-right js-save-workex">Save </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>

    @*Skills*@
    <div id="modalSkills" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ADD TECHNICAL SKILLS</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <form id="autoComplete">
                                <input type="hidden" value="@Model.UserID"/>

                                <div class="input-group">
                                    <input type="text" class="form-control" name="SearchTerm" id="txtSearch" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-info" type="button" id="addSkill">
                                            <i class="glyphicon glyphicon-plus">Add</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div>
                                    <ul id="skillMenu" style="color:black"></ul>
                                </div>
                                <div class="row skill-button">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-danger pull-right" id="btnCloseSkills" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnSaveSkills" class="btn btn-success pull-right js-save-skill">Save </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>



