@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Profile_Data/bootstrap-4.3.1-dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Profile_Data/css/style.css" type="text/css">
</head>
<body>
    <div class="container fixed-top">
        <div class="no-gutters">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-12 col-md-12">
                    <div class="row text-center text-white">
                        <div class="p-3 bg-dark font-div">
                            <a href="#basicInfo" class="text-white no-underline">
                                <i class="fa fa-home"></i> Basic Info
                            </a>
                        </div>
                        <div class="p-3 bg-danger font-div">
                            <a href="#education" class="text-white no-underline">
                                <i class="fa fa-graduation-cap"></i> Education
                            </a>
                        </div>
                        <div class="p-3 bg-primary font-div">
                            <a href="#skills" class="text-white no-underline">
                                <i class="fa fa-line-chart"></i> Skills
                            </a>
                        </div>
                        <div class="p-3 bg-success font-div">
                            <a href="#projects" class="text-white no-underline">
                                <i class="fa fa-tasks"></i> Projects
                            </a>
                        </div>
                        <div class="p-3 bg-purple font-div">
                            <a href="#workExperience" class="text-white no-underline">
                                <i class="fa fa-folder"></i> Work Ex.
                            </a>
                        </div>
                        <div class="p-3 bg-warning font-div">
                            <a href="#contact" class="text-white no-underline">
                                <i class="fa fa-envelope"></i> Contact
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic Information -->
    <div class="container pseudo-element" id="basicInfo">
        <div class="no-gutters">
            <div class="col-lg-12 col-md-12">
                <div class="p-4 bg-dark text-white">
                    <div class="row">
                        <div class="col-lg-9 col-md-7 col-sm-6">
                            <h1 class="display-5 d-block">@ViewBag.profName</h1>
                            <h6 class="display-5" style="opacity: .5;">@ViewBag.profRole</h6>
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-6" style="opacity: .65;">
                            <div class="row">
                                <a href="#" class="text-white">
                                    <i class="fa fa-phone"> @ViewBag.profPhone</i>
                                </a>
                            </div>
                            <div class="row">
                                <a href="http://gmail.com" class="text-white">
                                    <i class="fa fa-envelope"> @ViewBag.profEmail</i>
                                </a>
                            </div>
                            <div class="row">
                                <a href="https://in.linkedin.com/in/dummy-link-775982111" class="text-white">
                                    <i class="fa fa-linkedin"> @ViewBag.profLinkedin</i>
                                </a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-summary">
                    <div class="text-white-50 text-center p-2  css-summary">
                        @ViewBag.profSummary
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Education -->
    <div class="container">
        <div id="education" class="pseudo-element">
            <div class="p-3 text-white bg-danger">
                <h2>Educational Details</h2>
            </div>
            <!-- Cards Here -->
            <div class="col-md-12 col-lg-12 bg-light">
                <div id="educationConnectionId" class="row">
                    <div class="col-lg-4 mb-2 mt-2 text-center text-white">
                        <div class="card col-md-9 col-lg-11 offset-lg-1 offset-md-2 bg-card">
                            <div class="card-header">+3</div>
                            <div class="card-body">
                                <h4>Utkal University</h4>
                                <h5>Percentage<label>80%</label></h5>
                            </div>
                            <div class="card-footer">Passing Year - 2017</div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2 mt-2 text-center text-white">
                        <div class="card col-md-9 col-lg-11 offset-lg-1 offset-md-2 bg-card">
                            <div class="card-header">+2</div>
                            <div class="card-body">
                                <h4>Utkal University</h4>
                                <h5>Percentage<label>80%</label></h5>
                            </div>
                            <div class="card-footer">Passing Year - 2017</div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2 mt-2 text-center text-white">
                        <div class="card col-md-9 col-lg-11 offset-lg-1 offset-md-2 bg-card">
                            <div class="card-header">10th</div>
                            <div class="card-body">
                                <h4>Utkal University</h4>
                                <h5>Percentage<label>80%</label></h5>
                            </div>
                            <div class="card-footer">Passing Year - 2017</div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2 mt-2 text-center text-white">
                        <div class="card col-md-9 col-lg-11 offset-lg-1 offset-md-2 bg-card">
                            <div class="card-header">UG</div>
                            <div class="card-body">
                                <h4>Utkal University</h4>
                                <h5>Percentage<label>80%</label></h5>
                            </div>
                            <div class="card-footer">Passing Year - 2017</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Skills -->
    <div class="container">
        <div id="skills" class="pseudo-element">
            <div class="p-3 text-white bg-primary">
                <h2>Skills</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row p-3 bg-light">
                    <div class="col-md-6 col-lg-6">
                        <h4>HTML</h4>
                        <progress class="progress progress-bar mb-3" id="progBar" value="75" max="100" style="width: 100%"></progress>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <h4>CSS</h4>
                        <progress class="progress progress-bar mb-3" id="progBar" value="55" max="100" style="width: 100%"></progress>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <h4>JavaScript</h4>
                        <progress class="progress progress-bar mb-3" id="progBar" value="95" max="100" style="width: 100%"></progress>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <h4>jQuery</h4>
                        <progress class="progress progress-bar mb-3" id="progBar" value="70" max="100" style="width: 100%"></progress>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <h4>BootStrap</h4>
                        <progress class="progress progress-bar mb-3" id="progBar" value="45" max="100" style="width: 100%"></progress>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <h4>C#</h4>
                        <progress class="progress progress-bar mb-3" id="progBar" value="65" max="100" style="width: 100%"></progress>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <h4>ASP.NET MVC</h4>
                        <progress class="progress progress-bar mb-3" id="progBar" value="90" max="100" style="width: 100%"></progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects -->
    <div class="container">
        <div id="projects" class="pseudo-element">
            <div class="p-3 text-white bg-success">
                <h2>My Projects</h2>
            </div>
            <div class="p-3 bg-light">
                <div class="timeline">
                    <div class="container-timeline timeline-left">
                        <div class="content bg-success text-white">
                            <h2>2017</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-right">
                        <div class="content bg-success text-white">
                            <h2>2016</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-left">
                        <div class="content bg-success text-white">
                            <h2>2015</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-right">
                        <div class="content bg-success text-white">
                            <h2>2012</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-left">
                        <div class="content bg-success text-white">
                            <h2>2011</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-right">
                        <div class="content bg-success text-white">
                            <h2>2007</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Work Experience -->
    <div class="container">
        <div id="workExperience" class="pseudo-element">
            <div class="p-3 text-white bg-purple">
                <h2>Work Experiences</h2>
            </div>
            <div class="p-3 bg-light">
                <div class="timeline">
                    <div class="container-timeline timeline-left">
                        <div class="content bg-purple text-white">
                            <h2>2017</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-right">
                        <div class="content bg-purple text-white">
                            <h2>2016</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-left">
                        <div class="content bg-purple text-white">
                            <h2>2015</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-right">
                        <div class="content bg-purple text-white">
                            <h2>2012</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-left">
                        <div class="content bg-purple text-white">
                            <h2>2011</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                    <div class="container-timeline timeline-right">
                        <div class="content bg-purple text-white">
                            <h2>2007</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact -->
    <div class="container">
        <div id="contact" class="bg-light-gray pseudo-element">
            <div class="p-3 text-white bg-warning">
                <h2>My Resume</h2>
                <p>
                    vscode-random - Visual Studio Marketplacemarketplace.visualstudio.com › items › itemName=jrebocho.vscode-ra...Sep 29, 2019 - Install. Launch the Command Pallete (Cmd+Shift+P / Ctrl+Shift+P) and type Extensions: Install Extensions . Type vscode-random in the Side Bar search input. Click the Extensions icon in the View Bar. Type vscode-random in the Side Bar search input. Launch VS Code Quick Open (Cmd+P / Ctrl+P).
                </p>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <!-- <div class="container">
        <footer class="p-3 bg-dark text-center">
            <button class="btn btn-success">
                <i class="fa fa-download"></i> Download Resume
            </button>
        </footer>
    </div> -->


    <footer>
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-dark p-2">
                <div class="row">
                    <div class="pull-left col-lg-4 col-xs-12">
                        <h6 class="text-white">Copyright &copy;2020 by<span style="opacity: .7;"> Abhijit Group</span></h6>
                    </div>
                    <div class="col-lg-4 offset-lg-4 col-xs-12">
                        <div class="pull-right">
                            <a href="#"><i class="fa fa-behance-square text-white"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square text-white"></i></a>
                            <a href="#"><i class="fa fa-twitter-square text-white"></i></a>
                            <a href="#"><i class="fa fa-skype text-white"></i></a>
                            <a href="#"><i class="fa fa-facebook-square text-white"></i></a>
                            <a href="#"><i class="fa fa-github-square text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- CDN / Script Links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="~/Content/Profile_Data/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/Profile_Scripts/profileDefaultScript.js"></script>

</body>
</html>